/*
Orange color: #e67e22

*/

/*---------------------------------------------*/
/* Basic Setup */
/*---------------------------------------------*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    background-color: #FFF;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/*---------------------------------------------*/
/* Reusable Components */
/*---------------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/*----Headings----*/
h1, h2, h3 {    
    font-weight: 300;        
    text-transform: uppercase;
}

h1 {
    margin: 0;
    color: #fff;
    font-size: 240%;
    margin-top: 0px;
    margin-bottom: 10px;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    width: 100px;
    background-color: #e67e22;
    content: " ";
    margin: 0 auto;
    margin-top: 30px;    
}

/*----Paragraphs----*/
.long-copy {
    line-height: 150%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/*----Icons----*/
.icon-big {
    display: block;
    color: #e67e22;
    font-size: 350%;
    margin-bottom: 10%;    
}

/*----Buttons----*/
.btn:link, .btn:visited {
    display: inline-block;
    text-decoration: none;    
    padding: 10px 30px;
    border-radius: 200px;
    font-weight: 300;       
    transition: background-color 0.2s color 0.2s border 0.2s;
}

.btn:hover, .btn:active {
    background-color: #cf6d17;
}

.btn-full:link, .btn-full:visited {
    margin-right: 10px;
    color: #fff;
    background-color: #e67e22;
    border: 1px solid #e67e22;
}

.btn-full:hover, .btn-full:active {
    background-color: #cf6d17;
    border: 1px solid #cf6d17;
}

.btn-ghost:link, .btn-ghost:visited {
    color: #e67e22;
    border: 1px solid #e67e22;
}

.btn-ghost:hover, .btn-ghost:active {
    color: #fff;
    border: 1px solid #cf6d17;
}

/*---------------------------------------------*/
/* Headers */
/*---------------------------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.66)), url(img/hero.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;    
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    list-style: none;
    float: right;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link, .main-nav li a:visited {
    padding: 8px 0px;
    color: #fff;
    font-size: 90%;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover, .main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

/*---------------------------------------------*/
/* Features */
/*---------------------------------------------*/
.section-features .long-copy {
    margin-bottom: 30px;
}

/*---------------------------------------------*/
/* Meals */
/*---------------------------------------------*/
.section-meals {
    padding: 0;    
}

.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    width: 25%;
    display: block;
    float: left;
}

.meal-photo {
    width: 100%;
    margin: 0;
    background-color: #000;
    overflow: hidden;
}

.meal-photo img {
    width: 100%;
    height: auto;
    transform: scale(1.15);    
    opacity: 0.7;
    transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
    transform: scale(1.03);
    opacity: 1;
}

/*---------------------------------------------*/
/* How it works */
/*---------------------------------------------*/
.section-steps {
    background-color: #f4f4f4;    
}

.steps-box {
    margin-top: 30px;
}

.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
}

.steps-box:last-child {
    text-align: left;
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.work-steps {
    margin-bottom: 50px;
}

.work-steps:last-of-type {
    margin-bottom: 80px;
}

.work-steps div {
    display: inline-block;
    float: left;
    padding: 5px;
    margin-right: 25px;
    color: #e67e22;
    height: 54px;
    width: 54px;
    border: 2px solid  #e67e22;
    border-radius: 50%;
    font-size: 150%;
    text-align: center;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}